#
# roles -- user roles
#
roles:
    - guest:
    - user:                             # user inhertis guest role
        - guest
    - admin:                            # admin inherits user role
        - user

#
# resources -- names of modules, pages and actions
#
resources:
    - \org\octris\example\app:          []                      # module
    - \org\octris\example\app\edit:     [save, cancel, write]   # page

#
# policies -- relation between resources, actions and roles
#
policies:
    - \org\octris\example\app:
        default:    ALLOW               # default policy for actions

    - \org\octris\example\app\edit:
        default:    DENY
        actions:
            - save:
                guest:  DENY            # enhance / limit policy
            - cancel:
            - write:
                guest:  DENY
